.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.overlay {
  background-color: #000000;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.patch {
  height: 50%;
  width: 50%;
  object-fit: contain;
}

.hero-image {
  background-image: url(./components/img/commandcar.jpg); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 700px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 10%;
  left: 50%;
  text-shadow: 2px 2px #000;
  transform: translate(-50%, -50%);
  color: white;
}

.nav-image {
  background-image: url(./components/img/patch2.png);
  height: 4.5vh;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-text {
  text-align: center;
  color: #fff;
  text-shadow: #000;
}
